1. What are data structures and why are they important?
 - A data structure is a data organizatio and storage format that is usually chosen for efficient access to data.
  Data structure used to store, organize and manipulate the data. without the data structure is difficult to access large amount of data efficiently.

2. Explain the difference between mutable and immutable data types with example.
  - Mutable data types are those whose value can be modified after creation. such as- list, dictionary
  - Immutable data types are those whose value cannot be modified after creation. such as- string , tuples.

3. What are the main difference between lists and tuples in python?
   -   Lists -  a. lists are mutable data structure.
                b. we can access the data or modified the data in list.
                c. append, pop, insert functions are executed in lists.
                d. It use large storage of data.

      tuples - a. tuples are immutable data structure.
               b. we cannot access the data or modified the data in tuples.
               c. append, pop, insert functions are not executed in tuples.
               d. it use less storage of data than lists.

4. Describe how dictionaries store data.
 -  Dictionary is unordered collection of data. It stored data in a key: value forrmat.

 5. Why might you use a set instead of a list in python?
  - set is a unordered heterogenous type of data structure. It doesnot allow same type of data within it,that's why it occupies less storage of data than lists. But lists are heterogenous type but i allows same data an that's why it use more storage than a set.

6. What is a string in python, how is it different from a list?
 - Strings are basically sequence of characters enclosed in either single quotes or double quotes.
  - lists are sequence of values, its value may be a int, float,boolean or string  itself,it represented by '[]' brackets. but string is a sequence of characters that enclosed by a single('') or double ("") quotes.

7. How do tuples ensure data integrity in python?
  - Tuples are immutable data structure. this immutability of tuples doesnot allow any modification of elements wihin it. In this way it ensures data integrity in python.

8. What is hash table, and how does it relate to dictionaries in python?
  - A hash table is a collection of associated pairs of items where each pair consists of a key and a value.
   In dictonary, key and value pair represented by hash table.

9. Can lists contain different data types in python?
  - Yes, lists contain different data types in python. lists are heerogenous data types, it contains int, boolean, string, float ad list itself within it.

10. Explain why strings are immutable i python?
   - string are immutable in python means they cannot be changed after are created.String with the same content share storage in a single pool to minimize creatinng a copy of the same value.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries can be used to represent complex data structures, it represented as a key-value pairs.They allow object for used as a key. But lists are heterogenous data structure, they allow objects by indexing method.

12. Describe a scenario where using a tuple would be preferable over a list.
   - Tuples are immutable data structure that only store data,that does not change the data frequently. But lists are mutable objects that store the data and the data can be modified after creation. so when you have some critical information or records that cannot be modified after creation, there we use tuple.

13. How do sets handle duplicate value in python?
  - Sets cannot allow duplicate value in it.They are unorganised type of data structure so sets cannot allow any indexing over the elements.

14.  How does the 'in' keyword work differently for lists and dictionaries?
  - 'in' keyword used as a membership operator, it can check whether an element is present in a lists or tuple or not. So,the meaning is same but implementation is different for lists and dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not.
  -   No,I cannot modify the element of a tuple. Because tuple is a immutable data structure that cannot be changed the elments within it.


16. What is a nested dictionary, and give an example of its use case.
  - Nested dictioaries are dictionaries that are stored as values within another dictionary.
  - Nested dictioaries are used to store as values within another dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of retrieving a value by its key in a dictioary is O(1). This is because dictionaries use a hash table internally which allows contant time lookup. Hash tables use the hash of the key to find the memory location which enables direct access.

18. In what situations are lists preferred over dictionaries?
  - For ordered collection and sequence operation, lists are more preferred over dictioaries. Because dictionaries store data randomly, it cannot allow repeated objects.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because the elements are not intended to be in order. That's why we cannot access the elements based on theirs position value.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list is a organised heterogenous data structure. That's why we access the element based on its position value.

  But dictionaries are unorganised heterogenous data structure, it cannot allow repeated value,that's why we cannot access the element based on its position value.

Practical Question:

In [ ]:
# 1. Write a code to create a string with your name and print it.
My_name = "Soumita Mallick"
Age = 27

In [ ]:
My_name

'Soumita Mallick'

In [ ]:
Age

27

In [ ]:
# 2. Write a code to find the length of the string "hello world"
a="hello world"
len(a)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "python programming".
b="python programming"
b[0:3]

'pyt'

In [ ]:
# 4. Write a code to convert the string "hello" uppercase.
str1 = "hello"
str2= str1.upper()
str2

'HELLO'

In [ ]:
# 5. Write a code to replace the word "apple" with 'orange' in the string "i like apple."
my_str = "I like apple"
my_str.replace("apple","orange")

'I like orange'

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
lst = [1,2,3,4,5]
type(lst)

list

In [ ]:
# 7. Write a code to append the number 10 to the list[1,2,3,4].
lst1= [1,2,3,4]
lst1.append(10)
lst1

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1,2,3,4,5]
lst2 = [1,2,3,4,5]
lst2.remove(3)
lst2

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a' ,'b', 'c','d']
a=['a','b','c','d']
a[1]

'b'

In [ ]:
# 10. Write a code to reverse the list[10,20,30,40,50]

list=[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with he elements 100,200,300 and print it.
my_tuple= (100,200,300)
type(my_tuple)

tuple

In [1]:
# 12. Write a code to access the second to lst element of the tuple ('red','green','blue','yellow).
tuple1=('red','green','blue','yellow')
tuple1[1:]

('green', 'blue', 'yellow')

In [8]:
# 13. Write a code to find the minimum number in the tuple (10,20,5,15)
t2=(10,20,5,15)

AttributeError: 'builtin_function_or_method' object has no attribute 't2'

In [9]:
# 14. Write a code to find the index of the elements "cat" in the tuple ('dog','cat','rabbit')
a= ('dog','cat','rabbit')
a[1]

'cat'

In [14]:
# 15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.
b =("apple","banana","kiwi")
"kiwi" in b

True

In [17]:
# 16. Write a code to create a set with the elements 'a','b','c' and print it.
y={'a','b','c'}
y

{'a', 'b', 'c'}

In [19]:
# 17. Write a code to clear all the elements from the set {1,2,3,4,5}
set1 ={1,2,3,4,5}
set1.clear()
set1

set()

In [21]:
# 18. Write a code to remove the elements 4 from the set {1,2,3,4}
set2= {1,2,3,4}
set2.remove(4)
set2

{1, 2, 3}

In [22]:
# 19. Write a code to find the union of two sets {1,2,3} and {2,3,4}.
a ={1,2,3}
b= {2,3,4}
a|b

{1, 2, 3, 4}

In [23]:
# 20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.
a= {1,2,3}
b= {2,3,4}
a & b

{2, 3}

In [24]:
# 21. Write a code to create a dictionary with the keys "name" ,"age", and "city".
dict = {"name":"soumita","age":27,"city":"kolkata"}
print(dict)

{'name': 'soumita', 'age': 27, 'city': 'kolkata'}

In [28]:
# 22. Write a code to add a new key_value pair "country":USA to the dictionary {'name':'john','age':25}
dict2 = {'name':'john','age':25}
new_items = {'country':'USA'}
dict2.update(new_items)
dict2

{'name': 'john', 'age': 25, 'country': 'USA'}

In [29]:
# 23. Write a code to access the value associated with the key name in the dictionary {'name':'Alice','age':30}
my_dict={'name':'Alice','age':30}
my_dict['name']

'Alice'

In [36]:
# 24. Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'new york'}
d ={"name":"Bob","age":22,"city":"new york"}
d.pop("age")
d

{'name': 'Bob', 'city': 'new york'}

In [37]:
# 25. Write a code to check if the key "city" exits in the dictioary. {"name":"alice","city":"Paris"}
my_dict2 = {"name":"Alice","city":"paris"}
"city" in my_dict2

True

In [38]:
# 26. Write a code to create a list, a tuple, and a dictionary and print them all.
students =['Arun','Bijay','Ram']
marks = [80,95,85]
for i in zip(students,marks):
  print(i)

('Arun', 80)
('Bijay', 95)
('Ram', 85)

In [39]:
type(i)

tuple

In [43]:
{student:marks for student, marks in zip(students,marks)}

{'Arun': 80, 'Bijay': 95, 'Ram': 85}

In [45]:
# 27. write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.
list1 = [75,66,98,25,36]
list1.sort()
list1

[25, 36, 66, 75, 98]

In [46]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_shopping_list=['apple','banana','watermelon','mango','grapes']
my_shopping_list.insert(3,"lichi")
my_shopping_list

['apple', 'banana', 'watermelon', 'lichi', 'mango', 'grapes']

In [48]:
# 29. Write a code to combine two dictionaries into one and print the result.
User_id ={1,2,3,4}
User_name={'a','b','c','d'}
{User_id: User_name for User_id,User_name in zip(User_id,User_name)}

{1: 'a', 2: 'b', 3: 'd', 4: 'c'}

In [49]:
# 30. Write a code to convert a list of string into a set.
shopping_list=['potato','brinjal','cabbage','banana']
type(shopping_list)

list

In [51]:
a= set(shopping_list)
a

{'banana', 'brinjal', 'cabbage', 'potato'}